/*body {font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;font-size:2em;}
@font-face {
 font-family: ModernPictograms;
 src: url("http://dl.dropbox.com/u/1621719/development/JSFiddle/fonts/modernpics.otf")
}*/

/* -------------------------------------------------------|
|  Styles by Tony Montemorano of Allusis Productions      |
|  http://gplus.to/allusis - http://allusis.net           |
|--------------------------------------------------------*/
html, body {font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;font-weight:300;font-size:100%}
.clear {clear:both}
.hidden {position:absolute !important;top:-9999px !important;left:-9999px !important}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

/* -------------------------------------------------------|
| Styles by:                                              |
| http://designmodo.com/css3-dropdown-menu/#ixzz1rwO8PIPD |
|--------------------------------------------------------*/
.menu,.menu ul,.menu li,.menu a {margin:0;padding:0;border:none;outline:none;z-index: 99;}
.menu {height:40px;background:#4c4e5a;
    background:-webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background:-moz-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background:-o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background:-ms-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background:linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
}
.menu li {position:relative;list-style:none;float:left;display:block;height:40px}
.menu li a {display:block;padding:0 14px;margin:0;line-height:40px;text-decoration:none;border-left:1px solid #393942;border-right:1px solid #4f5058;font-weight:bold;font-size:13px;color:#f3f3f3;text-shadow:1px 1px 1px rgba(0,0,0,.6);
    -webkit-transition:color .2s ease-in-out;
    -moz-transition:color .2s ease-in-out;
    -o-transition:color .2s ease-in-out;
    -ms-transition:color .2s ease-in-out;
    transition:color .2s ease-in-out;
}

.menu li:first-child a {border-left:none}
.menu li:last-child a{border-right:none}
.menu li:hover > a {color:#8fde62}
.menu ul {position:absolute;top:40px;left:0;opacity:0;background:#1f2024;-webkit-border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;
    -webkit-transition:opacity .25s ease .1s;
    -moz-transition:opacity .25s ease .1s;
    -o-transition:opacity .25s ease .1s;
    -ms-transition:opacity .25s ease .1s;
    transition:opacity .25s ease .1s;
}
.menu li:hover > ul {opacity:1}
.menu ul li {height:0;overflow:hidden;padding:0;
    -webkit-transition:height .25s ease .1s;
    -moz-transition:height .25s ease .1s;
    -o-transition:height .25s ease .1s;
    -ms-transition:height .25s ease .1s;
    transition:height .25s ease .1s;
}
.menu li:hover > ul li {height:40px;overflow:visible;padding:0;}
.menu ul li a {width: 190px;padding: 0 10px;margin:0;border:none;border-bottom:1px solid #353539;}
.menu ul li:last-child a {border:none}
.menu div {
  position: relative;
  display: block;
  font-family: "ModernPictograms";
  font-size: 1.7em;
  height:30px;
  float: left;
  width: 40px;
  text-align: center;
  top: -5px;
  padding: 0 5px 0 0;
}
.menu div:nth-child(2) {left:10px}


}
